{% extends 'blog/base.html' %}
{% block title %}
    博客首页
{% endblock %}

{% block cotent %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% for entry in entries %}
                    <hr>
                    <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
                    {% if entry.img %}
                    <img src="{{ entry.img.url }}" alt="博客配图" width="500px">
                    {% endif %}

                    {% if entry.abstract %}
                    <p>{{ entry.abstract }}</p>
                    {% else %}
                    <p>{{ entry.body | truncatechars:20}}</p>

                    {% endif %}
                    <p>
                        <span>作者:{{ entry.author }}</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;发表时间:{{ entry.create_time }}</span>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;访问量:{{ entry.visiting }}</span>
                    </p>
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock %}

